<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="wrap">
        <div class="site-info pull-left">
            <a href="https://wordpress.org/">Made for WordPress</a> using the
            <a href="https://www.themoviedb.org/documentation/api">TMDb API</a><br>
            <small>The My Movie Database for WP is neither endorsed nor certified by TMDb. </small>
        </div><!-- .site-info -->
        <div class="pull-right tmdb-footer">
            <a href="https://www.themoviedb.org/"><img src="{{site.baseurl}}/assets/images/tmdb.svg"></a>
        </div><!-- .site-info -->
    </div><!-- .wrap -->
</footer><!-- #colophon -->