<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
    <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
        <svg class="icon icon-bars" aria-hidden="true" role="img">
            <use href="#icon-bars" xlink:href="#icon-bars"></use>
        </svg>
        <svg class="icon icon-close" aria-hidden="true" role="img">
            <use href="#icon-close" xlink:href="#icon-close"></use>
        </svg>
        Menu
    </button>

    <div class="menu-main-container">
        <ul id="top-menu" class="menu">
            {% for item in site.data.menulist.toc %}
            <li class="menu-item
            {% if item.subitems[0] %} menu-item-has-children{% endif %}
            {% if item.url == page.url %} active current-menu-item{% endif %}">
                {% if item.subitems[0] %}
                <a>
                    {{ item.title }}
                    <svg class="icon icon-angle-down" aria-hidden="true" role="img">
                        <use href="#icon-angle-down" xlink:href="#icon-angle-down">
                        </use>
                    </svg>
                </a>
                <ul class="sub-menu">
                    {% for entry in item.subitems %}
                    {% if entry.submenu %}
                    <li class="menu-item menu-item-has-children">
                        <a>
                            {{ entry.page }}
                            <svg class="icon icon-angle-down" aria-hidden="true" role="img">
                                <use href="#icon-angle-down" xlink:href="#icon-angle-down">
                                </use>
                            </svg>
                        </a>
                        <ul class="sub-menu">
                            {% for sub in entry.submenu %}
                            <li class="menu-item{% if sub.url == page.url %} active current-menu-item{% endif %}">
                                <a href="{{ site.baseurl }}{{ sub.url }}">{{ sub.page }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="menu-item{% if entry.url == page.url %} active current-menu-item{% endif %}">
                        <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <a href="{% if item.url contains 'https' %}{{ item.url }}
                {% else %}{{ site.baseurl }}{{ item.url }}{% endif %}">
                    {{ item.title }}
                </a>
                {% endif %}
            </li>

            {% endfor %}
        </ul>
    </div>
    <a href="#content" class="menu-scroll-down">
        <svg class="icon icon-arrow-right" aria-hidden="true" role="img">
            <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use>
        </svg>
        <span class="screen-reader-text">Scroll down to content</span></a>
</nav>
<!-- #site-navigation -->
